<nav>
    <div class="site-title">
      <a href="/"><h1>Blog Site</h1></a>
      <p>A WONDERFUL BLOG SITE</p>
    </div>
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/about">ABOUT</a></li>
      <li><a href="/blogs/create">NEW BLOG</a></li>
    </ul>
  </nav>